<h2>add your text to transform it into a tweet</h2>

<%= simple_form_for @tweet do |f| %>
  <%= f.input :long, required: true, label: "Copy and paste a long text here" %>
  <%= f.button :submit, 'Create tweet', class: 'btn btn-primary' %>
<% end %>
