<% if user_signed_in? %>
  <p>
    you are logged in as <%= current_user.email %>
  </p>
<% else %>
  <p>you are not logged in</p>
<% end %>

<div class="banner">
  <p>discover this amazing text-to-tweet-app</p>
</div>

<p>leave us your contect to receive further info</p>
<form action="#">
  <input type="text" name="email">
  <input type="text" name="name">
  <input type="button" value="submit">
</form>
